In [1]:
classic_cars = ["Pierce Arrow", "Oldsmobile", "Mustang"]

In [2]:
for car in classic_cars:
    print(car)

Pierce Arrow
Oldsmobile
Mustang

In [3]:
car

'Mustang'

In [4]:
sports_cars = ["Agera", "Regera", "Chiron", "Veyron"]

In [5]:
for car in sports_cars:
    print(car)

Agera
Regera
Chiron
Veyron

In [6]:
car

'Veyron'

In [7]:
for character in ["P", "h", "a", "n", "t", "o", "m"]:
    print(character)

P
h
a
n
t
o
m

In [8]:
for character in "Phantom":
    print(character)

P
h
a
n
t
o
m

In [9]:
for integer in 56565936:
    print(integer)

TypeError: 'int' object is not iterable

In [10]:
for car in "Porsche", "Lambhorghini", "Ford", "Ferrari", "General Motors":
    print(car)

Porsche
Lambhorghini
Ford
Ferrari
General Motors

In [11]:
cameras = ("Canon EOS 500D",
           "Nikon D90",
           "Canon EOS 50D",
           "Canon EOS 450D")

In [12]:
for cameras in cameras:
    print(cameras)

Canon EOS 500D
Nikon D90
Canon EOS 50D
Canon EOS 450D

In [13]:
num_list = [100, 800, 330, 220, 400, 900, 1100]

In [14]:
for num in num_list:
    if num < 500:
        print("<500:", num)
    else:
        print(">=500:", num)

<500: 100
>=500: 800
<500: 330
<500: 220
<500: 400
>=500: 900
>=500: 1100

In [15]:
r = range(10)

r

range(0, 10)

In [16]:
tuple(r)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [17]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
list(range(-4, 8))

[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

In [20]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [21]:
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [22]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [24]:
for i in range(2, 11, 3):
    print(i)

2
5
8

In [25]:
for i in range(3.141):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [26]:
for _ in range(7):
    print("Python is great")

Python is great
Python is great
Python is great
Python is great
Python is great
Python is great
Python is great

In [27]:
names_and_ages = {"John" : 53,
                  "Alice" : 57,
                  "Bill" : 14,
                  "Dave" : 25}

In [28]:
for key in names_and_ages:
    print(key)

John
Alice
Bill
Dave

In [29]:
for key in names_and_ages:
    print("Name: ", key, "Age: ", names_and_ages[key])

Name:  John Age:  53
Name:  Alice Age:  57
Name:  Bill Age:  14
Name:  Dave Age:  25

In [30]:
names_and_ages.keys()

dict_keys(['John', 'Alice', 'Bill', 'Dave'])

In [31]:
for key in names_and_ages.keys():
    print(key)

John
Alice
Bill
Dave

In [32]:
names_and_ages.values()

dict_values([53, 57, 14, 25])

In [33]:
for val in names_and_ages.values():
    print(val)

53
57
14
25

In [34]:
names_and_ages.items()

dict_items([('John', 53), ('Alice', 57), ('Bill', 14), ('Dave', 25)])

In [35]:
for key, val in names_and_ages.items():
    print(key, val)

John 53
Alice 57
Bill 14
Dave 25

In [36]:
materials = {"Leather", "Polyester", "Nylon", "Cotton", "Silk"}

In [37]:
for m in materials:
    print(m)
else:
    print("We've run out of material")

Cotton
Silk
Polyester
Leather
Nylon
We've run out of material

In [38]:
num = 2

for multiplier in range(1, 11):
    print(num, " * ", multiplier, " = ", num * multiplier)

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [39]:
mixed_list = [5544,
              "Hello",
              3j,
              ["Hello","Python","World"],
              {545, 4542}]

In [40]:
for i in mixed_list:
    print("This is a mixed list,so we can expect multiple datatypes, one of them is : ", type(i))

This is a mixed list,so we can expect multiple datatypes, one of them is :  <class 'int'>
This is a mixed list,so we can expect multiple datatypes, one of them is :  <class 'str'>
This is a mixed list,so we can expect multiple datatypes, one of them is :  <class 'complex'>
This is a mixed list,so we can expect multiple datatypes, one of them is :  <class 'list'>
This is a mixed list,so we can expect multiple datatypes, one of them is :  <class 'set'>

In [41]:
materials

{'Cotton', 'Leather', 'Nylon', 'Polyester', 'Silk'}

In [42]:
colors = ["Red","Yellow","Blue"]

In [43]:
for c in colors:
    
    for m in materials:
        
        print(c, "<--->", m)

Red <---> Cotton
Red <---> Silk
Red <---> Polyester
Red <---> Leather
Red <---> Nylon
Yellow <---> Cotton
Yellow <---> Silk
Yellow <---> Polyester
Yellow <---> Leather
Yellow <---> Nylon
Blue <---> Cotton
Blue <---> Silk
Blue <---> Polyester
Blue <---> Leather
Blue <---> Nylon

In [45]:
for i in reversed("Python"):
    print(i)

n
o
h
t
y
P