In [1]:
if True:
    print("This condition evalutes to true")

This condition evalutes to true

In [2]:
if False:
    print("This should not be executed, the condition is false")

In [3]:
25 < 30

True

In [4]:
25 > 30

False

In [5]:
if 25 < 30: 
    print("25 is less than 30")

25 is less than 30

In [6]:
if 25 > 30:
    print("Really? Is 25 greater than 30?")

In [7]:
if 35 == 25:
    print("35 and 25 are exactly the same value")

In [8]:
if not 35 == 25:
    print("35 and 25 are NOT exactly the same value")

35 and 25 are NOT exactly the same value

In [9]:
if 35 = 35:
    print("Both values are the same")

SyntaxError: invalid syntax (Temp/ipykernel_19596/771417139.py, line 1)

In [10]:
num = 225

if num > 0:
    print("The number is greater than zero:", num)

The number is greater than zero: 225

In [11]:
if num:
    print("The number is greater than zero:", num)

The number is greater than zero: 225

In [12]:
if 35 + 165 == 100 + 100:
    print("35 + 165 = 100 + 100 is correct!")

35 + 165 = 100 + 100 is correct!

In [13]:
if 55 >= 45:
print("55 >= 45")

IndentationError: expected an indented block (Temp/ipykernel_19596/1471454614.py, line 2)

In [14]:
salary = 1000
expenses = 770

In [15]:
living_within_means = False

if salary - expenses > 0:
    living_within_means = True

In [16]:
print("Am I living within my means?", living_within_means)

Am I living within my means? True

In [17]:
if 100 > 50 > 10:
    print("100 > 50 > 10")

100 > 50 > 10

In [18]:
salary = 1000
expenses = 770

living_within_means = salary - expenses > 0

if living_within_means and expenses > 500:
    print("I'm glad you're saving but perhaps your expenses could be reduced?")

I'm glad you're saving but perhaps your expenses could be reduced?

In [19]:
salary = 1000
expenses = 770

living_within_means = salary - expenses > 0

if living_within_means and expenses > 500:
    print("I'm glad you're saving but perhaps your expenses could be lower?")

I'm glad you're saving but perhaps your expenses could be lower?

In [20]:
if 2 <= 5 or 7 >= 8:
   print("This is printed because 2 is definitely less than 5")

This is printed because 2 is definitely less than 5

In [22]:
salary = 1000 
expenses = 770

savings = 0

if salary > expenses: 
    savings = salary - expenses
    print("Savings for the month: ", savings)

Savings for the month:  230

In [23]:
salary = 1000
expenses  = 770

if salary > expenses:
    print("Savings for the month: ", salary - expenses)
else:
    print("Loans to tide you over: ", expenses - savings)

Savings for the month:  230

In [26]:
salary = 1000
expenses  = 1100

if salary > expenses:
    print("Savings for the month: ", salary - expenses)
else:
    print("Loans to tide you over: ", expenses - salary)

Loans to tide you over:  100

In [27]:
some_list = [3, 5, 1, 9, -10, 100, 22, 21, -1]

if min(some_list) < 0:
    print("The smallest value in this list is negative")
else:
    print("The smallest value in this list is positive")

The smallest value in this list is negative

In [28]:
salary = 1000
expenses = 770

savings = 0
loans = 0

if salary > expenses:
    savings = salary - expenses
    print("Saving for the month: ", savings)
else:
    loans = abs(salary - expenses)
    print("Loans taken: ", loans)
    
print("Savings: ", savings, "Loans: ", loans)

Saving for the month:  230
Savings:  230 Loans:  0

In [29]:
classic_cars = ["Pierce Arrow", "Oldsmobile", "Mustang"]

sports_cars = ["Agera", "Regera", "Chiron", "Veyron"]

planes = ["A380", "747", "A370"]

In [30]:
if len(classic_cars) < 5:
    print("That isn't a very long list of classic cars")

That isn't a very long list of classic cars

In [31]:
transportation = "Chiron"
if transportation in classic_cars:
    print("Your type of transportation is a classic car")
    
if transportation in sports_cars:
    print("Your type of transportation is a sports car")
    
if transportation in planes:
    print("Your type of trasportation is a plane")

Your type of transportation is a sports car

In [32]:
luxury_cars_and_their_horsepowers = {"Phantom" : 414,
                                     "Cullinan" : 420,
                                     "Wraith" : 465,
                                     "Ghost" : 420,
                                     "Dawn" : 420}

In [33]:
if "Phantom" in luxury_cars_and_their_horsepowers:
    print("The Phantom is in the luxury_cars_and_their_horsepowers")

The Phantom is in the luxury_cars_and_their_horsepowers

In [34]:
if "Maybach" not in luxury_cars_and_their_horsepowers:
    print("The Maybach is not in luxury_cars_and_their_horsepowers")

The Maybach is not in luxury_cars_and_their_horsepowers

In [35]:
camera_brands = {"Canon",
                 "Nikon",
                 "Sony",
                 "Panasonic",
                 "Pentax",
                 "Olympus"}

In [36]:
camera_brands

{'Canon', 'Nikon', 'Olympus', 'Panasonic', 'Pentax', 'Sony'}

In [37]:
camera_input = input("What camera brand do you like? \n")

if camera_input in camera_brands:
    print("Great, That camera brand is in the set already")
else:
    print("Uh... Just wait, I'll add that to my set")
    camera_brands.add(camera_input)

print("Camera brands: ", camera_brands)

What camera brand do you like?
Cann
Uh... Just wait, I'll add that to my set
Camera brands:  {'Canon', 'Panasonic', 'Sony', 'Pentax', 'Cann', 'Nikon', 'Olympus'}

In [38]:
math_score = 90

if math_score < 20:
    print("I'm afraid that is not a great score", math_score)
    
elif math_score < 50:
    print("Oh you can definitely do better than this", math_score)
    
elif math_score < 80:
    print("Ahh you're close to the highest grade you can get", math_score)

elif math_score < 100:
    print("You did great at math!", math_score)

You did great at math! 90

In [39]:
## TODO: Run with 90, 20
math_score = 90

if math_score < 100:
    print("You did great at math!", math_score)   

elif math_score < 80:
    print("Ahh you're close to the highest grade you can get", math_score)

elif math_score < 50:
    print("Oh you can definitely do better than this", math_score)

elif math_score < 20:
    print("I'm afraid that is not a great score", math_score)

You did great at math! 90

In [40]:
## TODO: Run with "Geronimo Stilton", "Harry Potter" and "Timmy Failure"

book_input = input("Which book do you like ? \n")

if book_input == "Geronimo Stilton":
    print("I like it too!")
    
elif book_input == "Dairy of a Wimpy Kid":
    print("It's one of my favorites!")
    
elif book_input == "Harry Potter":
    print("I love it!")
    
else:
    print("I guess that isn't too bad either")

Which book do you like ?
Harry Potter
I love it!