In [1]:
import math

In [2]:
math.pi

3.141592653589793

In [3]:
math.e

2.718281828459045

In [4]:
math.inf

inf

In [5]:
math.ceil(7.8)

8

In [6]:
math.floor(2.5)

2

In [7]:
float_list = [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]

In [8]:
sum(float_list)

0.9999999999999999

In [9]:
math.fsum(float_list)

1.0

In [10]:
math.gcd(30, 20)

10

In [11]:
math.gcd(3343, 233)

1

In [12]:
import numpy as np

some_list = [1, 2, 3, 4, 5, 6, 7]

type(some_list)

list

In [13]:
some_list = np.array(some_list)

In [14]:
type(some_list)

numpy.ndarray

In [15]:
some_array = np.array(some_list)

type(some_array)

numpy.ndarray

In [16]:
some_array

array([1, 2, 3, 4, 5, 6, 7])

In [17]:
ones_array = np.ones(5)

ones_array

array([1., 1., 1., 1., 1.])

In [18]:
range_array = np.arange(8)

range_array

array([0, 1, 2, 3, 4, 5, 6, 7])

In [19]:
reshaped_array = range_array.reshape(2, 4)

reshaped_array

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [20]:
reshaped_array = range_array.reshape(4, 2)

In [21]:
reshaped_array

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [22]:
random_array = np.random.random((4, 5))

random_array

array([[0.82250046, 0.37159   , 0.23678332, 0.53374105, 0.90455527],
       [0.81034714, 0.97994884, 0.88091426, 0.04951462, 0.81505617],
       [0.39609355, 0.70629166, 0.51322933, 0.93351142, 0.47817516],
       [0.32622646, 0.14970965, 0.68716183, 0.17911147, 0.38560855]])

In [24]:
range_array

array([0, 1, 2, 3, 4, 5, 6, 7])

In [26]:
mean = np.mean(range_array)

mean

3.5

In [27]:
median = np.median(range_array)

In [28]:
median

3.5

In [30]:
var = np.var(range_array)

var

5.25

In [31]:
std = np.std(range_array)

std

2.29128784747792

In [32]:
import pandas as pd

In [34]:
df = pd.DataFrame({
    'name': ["John", "Alice", "Bob", "Eileen", "Rob"],
    'gender': ["Male", "Female", "Male", "Female", "Male"],
    'age': [45, 20, 30, 14, 67],
})

In [35]:
df

     name  gender  age
0    John    Male   45
1   Alice  Female   20
2     Bob    Male   30
3  Eileen  Female   14
4     Rob    Male   67

In [36]:
df.describe()

             age
count   5.000000
mean   35.200000
std    21.300235
min    14.000000
25%    20.000000
50%    30.000000
75%    45.000000
max    67.000000

In [38]:
subset_df = df[['name','age']]

subset_df

     name  age
0    John   45
1   Alice   20
2     Bob   30
3  Eileen   14
4     Rob   67

In [39]:
groupby_df = df.groupby(by="gender").count()

groupby_df.head()

        name  age
gender
Female     2    2
Male       3    3